[submodule "Oxygen/Vendor/assimp"]
    path = Oxygen/Vendor/assimp
    url = https://github.com/assimp/assimp.git
    branch = master
[submodule "Oxygen/Vendor/glad"]
    path = Oxygen/Vendor/glad
    url = https://github.com/Dav1dde/glad.git
    branch = c
[submodule "Oxygen/Vendor/glfw"]
    path = Oxygen/Vendor/glfw
    url = https://github.com/glfw/glfw.git
    branch = master
[submodule "Oxygen/Vendor/glm"]
    path = Oxygen/Vendor/glm
    url = https://github.com/g-truc/glm.git
    branch = master
[submodule "Oxygen/Vendor/stb"]
    path = Oxygen/Vendor/stb
    url = https://github.com/nothings/stb.git
    branch = master
[submodule "Oxygen/Vendor/bullet"]
    path = Oxygen/Vendor/bullet
    url = https://github.com/bulletphysics/bullet3.git
    branch = master
